extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Project name
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact

  .container
    .row
      .col-sm-12
        .text-center
          h2 Bootstrap test
          h4 Bootstrap starter template
          p
            | Use this document as a way to quickly start any new project.
            br
            |  All you get is this text and a mostly barebones HTML document.


          h2 Express test
          p Welcome to #{title}

          

          h2 Font-awesome test

          button.btn.btn-success
            .fa.fa-plus(style="margin-right: 2px;")
            span Icon test
    
          h2 AngularJS 2 test
          app Loading
